<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P2P</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/upload.js" defer></script>
</head>
<body>

    <form action="/upload-files" method="post" enctype="multipart/form-data">
        <label for="file">Choose a file:</label>
        <input type="file" id="file" name="files" accept=".txt, .pdf, .docx, .mp4, .mkv, .avi" multiple>
        <br>
        <div id="progress-bar">
            <div id="upload-progress"></div>
        </div>
        <input type="submit" value="Upload" onclick="uploadFile()">
        <button onclick="cancelUpload()">Cancel</button>
        <p id="progress_number">0%</p>
    </form>
    
</body>
</html>
