<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Complete</title>
    <link rel="stylesheet" href="/static/css/succes_page.css">
</head>
<body>

    <div class="success-message">
        <h2>File Upload Successful!</h2>
        <p>Your file has been successfully uploaded.</p>
        <button class="upload_another"><a href="/">Upload Another File</a></button>
    </div>

</body>
</html>
